@model IEnumerable<MovieHall>
@{
    ViewData["Title"] = "MovieHall";
}
@*@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
*@
<br />
<div class="table-container">
    <div class="row pt-4 justify-content-between align-items-center">

        @*this one can add for Advanced Search and Manage Hall *@

@*        <div class="col-md-4">
            <h1 class="text-primary">Select the date:</h1>
        </div>
        <div class="col-md-8 d-flex justify-content-left">
            <div class="mr-2">
                <input type="date" class="form-control" id="MovieShowDate" name="MovieShowDate">
            </div>
            <div>
                <a asp-controller="CinemaBranch" asp-action="CreateCinemaBranch" class="btn btn-primary">Select Date</a>
            </div>
        </div>*@
  
    </div>
    <br />
    <div class="row align-items-center" style="margin-bottom:5px">
        <div class="col-md-6">
            <h2 class="text-primary">Manage Branch Movie Hall</h2>
        </div>
        <div class="col-md-6 text-right">
            <a asp-controller="CinemaBranch" asp-action="CreateCinemaBranch" class="btn btn-primary">Advanced Search</a>
            <button type="button" id="addNewHallButton" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addMovie" data-url="@Url.Action("AddMovieHall")">Add New Hall</button>
        </div>

    </div>
    <div id="PlaceHolderHere"></div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>HallCode</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(x=>x.ExternalCode))
            {
                <tr>
                    <td width="20%">
                        @obj.ExternalCode
                    </td>
                    <td width="20%" style="text-align: center;">
                        <a class="btn btn-outline-info" asp-controller="Admin" asp-action="ManageHall" asp-route-HallCode="@obj.HallCode" class="btn btn-primary" asp-id>Manage Hall</a>
                        <button type="button" class="btn btn-outline-warning delete-movie-btn" data-id="@obj.Id" data-url="@Url.Action("DeleteHall")">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .table-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
    }
</style>



                        