@model IEnumerable<MovieHall>
@{
    ViewData["Title"] = "MovieHall";
}

@*@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
*@
<link rel="stylesheet" href="~/css/AdminPanel/ManageHall.css" />
<br />
<div class="table-container">
    <br />
    <div class="row align-items-center" style="margin-bottom:5px">
        <div class="col-md-6">
            <h2 class="text-primary">Manage Branch Movie Hall</h2>
        </div>
        <div class="col-md-6 text-right">
            <a asp-controller="CinemaBranch" asp-action="CreateCinemaBranch" class="btn btn-primary">Advanced Search</a>
            <button type="button" id="addNewHallButton" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addMovie" data-url="@Url.Action("AddMovieHall")">Add New Hall</button>
        </div>

    </div>
    <div id="PlaceHolderHere"></div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>HallCode</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(x=>x.ExternalCode))
            {
                <tr>
                    <td width="20%">
                        @obj.ExternalCode
                    </td>
                    <td width="20%" style="text-align: center;">
                        <a class="btn btn-outline-info" asp-controller="Admin" asp-action="ManageHall" asp-route-HallCode="@obj.HallCode" class="btn btn-primary" asp-id>Manage Hall</a>
                        <button type="button" class="btn btn-outline-warning delete-movie-btn" data-id="@obj.Id" data-url="@Url.Action("DeleteHall")">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


                        