@using Cinema.Models
@model MovieShowTime.BookMovieViewModel


<link rel="stylesheet" href="~/css/BookMovie/bookmovie.css" />

<div id="movie"  class="movie-container">
    <label>@Html.DisplayFor(model => model.MovieShowTime.MallName) </label>
    <br />
    <label>@Html.DisplayFor(model => model.MovieShowTime.MovieName)</label>
    <label>@Html.DisplayFor(model => model.MovieShowTime.HallCode)</label>

    
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>
    <input class="code" type="hidden" name="secret_value" value="@Model.MovieShowTime.MovieShowTimeCode">
    <div class="container">
        <div class="screen"></div>
        <form id="seatForm">
            <div class="seat-container">
                <div class="seat-container">
                        @{
                            // Assuming Model.MovieShowSeats is a List<string> containing seat codes like "A1", "A2", "B1", etc.
                            // Get distinct row letters (A, B, C, etc.) from seat codes

                            var distinctRows = Model.MovieShowSeats.Select(seat => seat.SeatCode.Substring(0, 1)).Distinct().OrderBy(row => row);
                        }
                        @foreach (var row in distinctRows)
                        {
                            <div class="row">
                                @foreach (var seat in Model.MovieShowSeats.Where(s => s.SeatCode.StartsWith(row)))
                                {
                                <div class="seat @(seat.IsBooked ? "occupied" : "")" id="@seat.SeatCode"></div>
                                }
                            </div>
                        }
                </div>
                <p class="text">
                    You have selected <span id="count">0</span> seats for the total price of Rs. <span id="total">0</span>
                </p>
            </div>
            <button type="button" class="btn btn-primary" data-save="modal">Save changes</button>
        </form>
    </div>
</div>

<script src="~/js/Movie/BookMovie.js asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
